/* ----------- Style header in content ----------- */
.content .content-header {
	display: flex;
	align-items: center;
	gap: 20px;

	width: max-content;
	height: 48px;
	border-radius: 60px;
	padding: 0 30px;
}

/* ---------------- Custom select styles ---------------- */
.select-wrapper {
	width: fit-content;
	display: flex;
	align-items: center;
	gap: 10px;

	color: inherit;
}

.select-wrapper label {
	width: 24px;
	height: 24px;

	svg {
		height: 100%;
		width: 100%;
	}
}
.select-wrapper select {
	appearance: none;
	width: 100%;
	font-size: 1.6rem;
	font-weight: 500;

	border: none;

	outline: none;
	color: inherit;
	cursor: pointer;
}

.select-wrapper select:hover {
	color: #0369a1;
}

/* Add todo button */
/* .add-todo-btn {
	border: none;
	outline: none;
	background-color: transparent;
	width: 20px;
	height: 20px;
	color: #27272a;
	cursor: pointer;
	transition: color 200ms ease-in-out;

	svg {
		width: 100%;
		height: 100%;
	}
}

.add-todo-btn:hover {
	color: #0369a1;
} */
