/* ----------- Style header in content ----------- */
.content .content-header {
	display: flex;
	align-items: center;
	gap: 20px;

	width: max-content;
	height: 48px;
	border-radius: 60px;
	padding: 0 30px;
}

/* ---------------- Custom select styles ---------------- */
.select-container {
	width: fit-content;
	display: flex;
	align-items: center;
	gap: 10px;

	color: inherit;
}

.select-container label {
	width: 24px;
	height: 24px;

	svg {
		height: 100%;
		width: 100%;
	}
}

.select-container select {
	appearance: none;
	width: 100%;
	font-size: 1.6rem;
	font-weight: 500;

	border: none;

	outline: none;
	color: inherit;
	cursor: pointer;
}

.select-container select:hover {
	color: #0369a1;
}

.select-container select:disabled,
.select-container select:disabled:hover,
.add-todo-btn:disabled,
.add-todo-btn:disabled:hover,
.disabled {
	color: #777;
	cursor: default;
}
