.todo-form {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.todo-form .form-group {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.todo-form .form-group .group-title {
	font-size: 1.4rem;
	font-weight: 500;
	text-transform: uppercase;
}

.todo-form .form-group input:not(input[type='radio']),
.todo-form .form-group textarea {
	outline: none;
	padding: 8px 12px;
	border: 1px solid var(--gray-300);
	border-radius: 4px;
	font-size: 1.6rem;
}

.todo-form .form-group textarea {
	resize: vertical;
}

.todo-form .form-group input:not(input[type='radio']):focus,
.todo-form .form-group textarea:focus {
	border-color: var(--primary);
}

/* Style radio buttons */
.todo-form .form-group div {
	margin-top: 8px;

	display: flex;
	align-items: center;
	gap: 20px;
}

.todo-form .form-group .radio-control {
	display: flex;
	align-items: center;
	gap: 4px;

	cursor: pointer;
}

.radio-control input[type='radio'] {
	appearance: none;
	background-color: #fff;
	margin: 0;
	padding: 0;

	font: inherit;
	font-weight: inherit;
	color: inherit;
	width: 16px;
	height: 16px;
	border: 1px solid var(--gray-400);
	border-radius: 50%;
	cursor: pointer;
	position: relative;

	display: flex;
	align-items: center;
	justify-content: center;
}

.radio-control input[type='radio']::before {
	position: absolute;
	content: '';
	width: 10px;
	height: 10px;
	top: 50%;
	left: 50%;
	border-radius: 50%;
	transform: translate(-50%, -50%);
	transition: 120ms opacity ease-in-out;
	background-color: var(--gray-700);
	opacity: 0;
}

.radio-control input[type='radio']:checked::before {
	opacity: 1;
}

/* Style submit button */
.todo-form .submit-btn {
	padding: 8px 12px;
	border: none;
	border-radius: 4px;
	background-color: var(--primary);
	color: #fff;
	font-size: 1.6rem;
	font-weight: 600;
	cursor: pointer;
	transition: background-color 120ms ease-in-out;
}

.todo-form .submit-btn:hover {
	filter: brightness(1.1);
}
